body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;

}
table {
    padding:45px 200px;
}

 
.bgimg-1, .bgimg-2, .bgimg-3 ,.bgimg-4,.bgimg-5,.bgimg-6,.bgimg-7{
  position: relative;
  opacity: 1.00;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;



}
@media all and (max-width: 799px) and (min-width: 640px) {
    #fourohfour_home {
        background-image: url("assets/dslr_02-min.jpg");
        background-size: 640px 480px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .nav {
    width:100%;
  }
  .nav-item {
    width:100%;
    float:none;
  }
}






.bgimg-1 {
 /* background-image: url("assets/dslr_02-min.jpg");*/
}

.bgimg-2 {
     background-image: url("assets/a8.jpg");
    min-height: 400px;
    filter: grayscale(100%);
}


.bgimg-3 {
  background-image: url("assets/maxresdefault.jpg");
  min-height: 400px;
 /* filter: grayscale(65%);*/
}
.bgimg-4 {
  background-image: url("assets/a4.jpg");
   min-height: 400px;
   /*filter: grayscale(65%);*/
}

.bgimg-5 {
  background-image: url("assets/a1.jpg");
   min-height: 400px;
}

.bgimg-6 {
  background-image: url("assets/fb3.jpg");
   min-height: 400px;
}

.bgimg-7{
  background-image: url("assets/dslr_03-min.jpg");
   min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
#gvShade
{
	color:#f44336;
}
.caption span.border 
{ 
  font-size: 15px;
  letter-spacing: 2px;
}

#name {
    font-family: 'Sofia';
    font-size: 25px;
    margin-bottom: 95px;
}

#hed {
     font-family: 'Sofia';
     font-size: 20px;
     color: black;

}
#soft {
    color:white;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgba(189, 224, 255, 0.95);
}
.card {
     /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    max-width: 350px;
    margin: auto;
    text-align: center;
    color: rgb(31, 48, 95);
    /* background: rgba(240, 248, 255, 0.62); */
    font-family: -webkit-pictograph;
}

#hideProfpic {
    visibility: hidden !important;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.title {
     
    color: #f44336;
    font-size: 22px;
    font-family: 'Sofia';
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 26px;
    color: #f44336;
    border: 0px solid black;
    /*background: rgba(0, 0, 0, 0.84);*/
    padding: 20px;
}

button:hover, a:hover {
  opacity: 0.7;
}
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.html {}
.css {background-color: #2196F3;}
.js {background-color: #f44336;}
.php {background-color: #808080;}


 /**#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid red;
  border-radius: 50%;
  border-top: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
h3
{
 text-align:center;
}
.aboutme
{
    text-align: center;
    font-family: -webkit-body;
    font-size: 20px;
    font-style: italic;
    color: #111;
}
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {

    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ccc;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    height:100%;
    padding: 0px 10px 25px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: 0.3s;
    font-family: initial;
    font-style: italic;
    border-bottom: 1px solid #999;

}

.navBack {
       background-color: #000;
    color: #f2f2f2;
}

#headerCon {
    background-color:rgba(220, 53, 41, 0.83);
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

#titleName
{
    font-size: larger;
    font-family: serif;
    color: azure;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




#spanNav
{
	font-size:30px;
	cursor:pointer;
	align:left;
	margin-right:300px;
    background: #f44336;
    color: beige;
	
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
      box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    background: antiquewhite;
    opacity: 0.5;
    
}

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  margin: 0px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}

.slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
.container {
  border: 2px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin: 0px 0;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;

}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #f44336;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 140px;
    height: 45px;
    font-size: 20px;
    font-family: initial;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
        border-radius: 5px;
    /* background-color: rgba(240, 248, 255, 0.62); */
    /* background-image: url(assets/a3.jpg); */
    background-repeat: round;
    opacity: 1.5;
   /* background: #121212;*/
    border: 0px;

}
.gvBg
{
	padding: 50px;
    color: #45a082;
    background-image: url(assets/pc1.png);
    background-position: 0px 0px;
    border: 0px;
    /* background: rgba(0, 0, 0, 0.95);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);*/
    /*filter: grayscale(85%);*/
    text-align: -webkit-left;
    font-size: large;
    font-family: sans-serif;
	
}

.shiftcenter{
	text-align: center;
    font-family: -webkit-pictograph;
    font-size: larger;
}

.quotes
{
background-color: rgba(0, 0, 0, 0.68);
font-size: 22px;
color: #ffffff;
font: bolder;
font-family: -webkit-pictograph;
font-style:italic;
}

#about
{
color: #f44336;
text-align:center;
padding:20px 44px;
text-align: justify;

}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
    /* padding: 15px; */
    border-radius: 65px;
    width: 75px;
}


#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.image.avatar48 {
    width: 48px;
    height: 48px;
    background: #f00;
}

.html {
  border: 10px solid cyan;
  border-radius: 120%;
  border-top: 10px solid #000;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.progress{
  max-width:1000px;
  margin: 40px auto;
}


/* STYLES FOR PROGRESSBARS */

.progress-radial, .progress-radial * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
    

}




/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial {
  float: left;
  margin-right: 4%;
  position: relative;
  width: 20%;
  border-radius: 50%;
  animation: spin 5s infinite;
}
.progress-radial:first-child {
  margin-left: 4%;
   -webkit-animation: spin 5s infinite;
  animation:spin 5s infinite;

}
/* -------------------------------------
 * Optional centered circle w/text
 * ------------------------------------- */
.progress-radial .overlay {
   position: absolute;
    width: 80%;
    background-color: #000;
    border-radius: 50%;
    font-size: x-large;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #f0f0f0;
}

.progress-radial .overlay p{
    position: absolute;
    line-height: 40px;
    text-align: center;
    width: 100%;
    top:50%;
    margin-top: -20px;
}




.about-text a {
    margin-top: 30px;
}

.btn-style1 {
    padding: 0px 15px;
    color: #fff;
    display: inline-block;
    transition: all 0.5s;
    background-color: #164E71;
    font-weight: 100;
    font-family: monospace;
}

#con {
  position: relative;
  width: 50%;
}

#image {
  display: block;
  width: 70%;
  height: auto;
}

.overlay {
 position: absolute;
    bottom: -333px;
    left: 0px;
    /* right: 11px; */
    background-color: rgba(0, 0, 0, 0.68);
    /* overflow: hidden; */
    width: 70%;
    height: 50px;
    transition: .5s ease;
    /* border-radius: 225px; */
}

#con:hover .overlay {
  height: 100%;
}

.socialbuttons {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.skiller {

    background: url(assets/bookandpen.jpg);
    padding: 20px;
    color: #e7f4ff;
    height: 450px;
    font-family: inherit;


}

.btn-style {
    border: 0px solid beige;
    background: rgba(0, 0, 0, 0.84);
    cursor: pointer;
}

#myProgress {
     width: 85%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
}

#myBar {
    width: 85%;
    height: 10px;
    background-color: #164e71;
    text-align: inherit;
    line-height: 12px;
    color: white;
    font-size: 9px;
}

#html5
{
    font-size: 23px;
    font-family: -webkit-pictograph;
    color: #164e71;
}


#css3
{
    font-size: 23px;
    font-family: -webkit-pictograph;
    color: #45a082;
}

#jav
{
    font-size: 23px;
    font-family: -webkit-pictograph;
    color: #d94e44;
}
#asp
{
    font-size: 23px;
    font-family: -webkit-pictograph;
    color: #292929;
}

#myProgress2 {
     width: 85%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
}

#myBar2 {
     width: 80%;
    height: 10px;
    background-color: #45a082;
    text-align: inherit;
    line-height: 12px;
    color: white;
    font-size: 9px;
}
#myProgress3 {
     width: 85%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
}

#myBar3 {
     width: 75%;
   height: 10px;
    background-color: rgba(220, 53, 41, 0.83);
    text-align: inherit;
    line-height: 12px;
    color: white;
    font-size: 9px;
}
#myProgress4 {
     width: 85%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
}

#myBar4 {
     width: 75%;
    height: 10px;
    background-color: #111;
    text-align: inherit;
    line-height: 12px;
    color: white;
    font-size: 9px;
}

.gvBg :hover 
{
    filter:grayscale(100%);
}

 .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }

  .navbar-inverse {
    /* background-color: #222; */
    /* border-color: #080808; */
}

#CopyRgt 
{
    font-size: large;
    font-family: cursive;
    color: aliceblue;
}



#loader,
#loader:before,
#loader:after 
{
   background: #046596;
  -webkit-animation: load1 1s infinite ease-in-out;
   animation: load1 1s infinite ease-in-out;
   width: 1em;
   height: 6em;
}
#loader {
  color: #000;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
 
}
#loader:before,
#loader:after {
  position: absolute;
  top: 0;
  content: '';
}
#loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
#loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.carousel-indicators .active{ background: #31708f; } .content{ margin-top:20px; } .adjust1{ float:left; width:100%; margin-bottom:0; } .adjust2{ margin:0; } .carousel-indicators li{ border :1px solid #ccc; } .carousel-control{ color:#31708f; width:5%; } .carousel-control:hover, .carousel-control:focus{ color:#31708f; } .carousel-control.left, .carousel-control.right { background-image: none; } .media-object{ margin:auto; margin-top:15%; } @media screen and (max-width: 768px) { .media-object{ margin-top:0; } }